<header>
    <div class="container">
        <div class="logo">
            <img src="/logo.png" alt="Netflix Logo">
        </div>
        <nav class="links">
            <a href="#">Início</a>
            <a href="#">Séries</a>
            <a href="#">Filmes</a>
            <a href="#">Mais recentes</a>
            <a href="#">Minha lista</a>
        </nav>
    </div>
    <div class="second-container">

        

    </div>
</header>