.header {
    width: 100%;
    height: 478px;
    position: relative;
}

.header-content {
    height: 100%;
    display: flex;
    width: 100%;
    position: relative;
}


.header-content div.container {
    padding: 18px 0 12px 54px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
}
.header-content div.container img {
    width: 410px;
}
.header-content .container .type-info-video {
    margin-top: 10px;
    width: 100%;
}
.header-content div.container .type-info-video p {
    color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: .2px;
}
.header-content div.container .type-info-video p span:nth-child(1) {
    margin-right: 5px;
    color: #44c944;
}
.header-content div.container .type-info-video p span:nth-child(2) {
    font-size: 13px;
    font-weight: normal;
    padding: 3px 4px 3px 2px;
    background-color: #f57927;
    border-radius: 2px;
    margin: 0 4px;
}

.header-content .subtitle-container .subtitle {
    width: 450px;
    margin: 25px auto;
}
.header-content .subtitle-container .subtitle p {
    color: rgb(134, 134, 134);
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
.header-content .subtitle-container .subtitle-buttons {
    display: flex;
}
.header-content .subtitle-container .subtitle-buttons button {
    padding: 8px 24px 8px 16px;
    margin-right: 12px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    transition: 100ms;
    line-height: 26px;
    outline: none;
}
.header-content .subtitle-container .subtitle-buttons button i {
    margin-right: 6px;
    width: 30px;
    height: 18px;
}
.header-content .subtitle-container .subtitle-buttons button:nth-child(2) i {
    height: 26px;
}
.header-content .subtitle-container .subtitle-buttons button:nth-child(2) {
    background-color: #4d4d4d;
    color: white;
}
.header-content .subtitle-container .subtitle-buttons button:nth-child(1):hover {
    background-color: #a5a5a5;
} 
.header-content .subtitle-container .subtitle-buttons button:nth-child(2):hover {
    background-color: #2e2e2e;
}
.header-content .subtitle-container .movie-cast p {
    color: rgb(134, 134, 134);
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    margin-top: 25px;
}
.header-content .subtitle-container .movie-cast p span {
    font-weight: normal;
}


.header-content .header-background-image {
    background-image: url('https://cdn.vox-cdn.com/thumbor/LnlO34pMcbE0vrIe4q1sYQ5Rldw=/1400x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/19211255/Gates_Unit_00200_C.jpg');
    -webkit-mask-image: linear-gradient(to right, transparent 30%, black 50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10vw -40vh;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.header .header-bottom-options {
    color: #a5a5a5;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.header .header-bottom-options a {
    padding: 10px 0;
    margin-right: 16px;
    cursor: pointer;    
    transition: 100ms;
}
.header .header-bottom-options a:hover {
    color: white;
}
.header .header-bottom-options a.selected {
    color: white;
    border-bottom: 4px solid var(--red-pattern-color);
}


.movie-list-carousel {
    padding: 50px 0 12px 54px;
    background-color: var(--black-pattern-color);
    overflow-x: auto;    
}
.movie-list-carousel .my-list {
    width: 100vw;
}
.movie-list-carousel .title-section h1 {
    color: #d3d3d3;
    font-size: 19px;
    margin-bottom: 14px;
}
.movie-list-carousel .container .carousel ul {
    display: flex;
    width: 100vw;
}
.movie-list-carousel .container .carousel ul li {
    list-style: none;
    margin-right: 4px;
}
.movie-list-carousel .container .carousel ul li img {
    width: 230px;
    height: 130px;
    cursor: pointer;
}